apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfigPool
metadata:
  name: {{ pao_profile_name }}
  labels:
    machineconfiguration.openshift.io/role: {{ pao_profile_name }}
spec:
  machineConfigSelector:
    matchExpressions:
      - {
          key: machineconfiguration.openshift.io/role,
          operator: In,
          values: [{{ pao_profile_name }},worker],
        }
  paused: false
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/{{ pao_profile_name}}: ""
